body {
    height: 300vh;
    margin: 0;
    color: white;
    font-size: 1.5em;
}

.container {
    background: blue;
    margin: 3em auto 0 auto;
    width: 70%;
    padding-top: 2em;
    position: relative;
}

.container div {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.static {
    background: red;
}

.relative {
    background: gold;
    position: relative;
    color: black;
    top: ;
    left: ;
    right: ;
    bottom: ;
}

.absolute {
    background: purple;
    position: absolute;
    top: 0;
}

.fixed {
    background: orange;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
    border-radius: 45px;
}

.sticky {
    background: lightgreen;
    position: sticky;
    top: 0;
}

nav {
    background: black;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-inline: 2em;
    padding: 1em 0 1em 0;
}